<ion-header [translucent]="true">
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Statistics</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
  <br/>
  <ion-label>Cycles per sesion graph</ion-label>
  <div>
    <canvas baseChart
    [colors]="chartColors"
    [chartType]="'line'"
    [legend]="true"
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    ></canvas>
  </div>
  <br/>
  <br/>
  <ion-label>Work time per cycle graph</ion-label>
  <div>
    <canvas baseChart
    [colors]="chartColors2"
    [chartType]="'line'"
    [legend]="true"
    [datasets]="chartData2"
    [labels]="chartLabels"
    [options]="chartOptions"
    ></canvas>
  </div>
  <br/>
  <br/>
  <ion-label>Work time per session graph</ion-label>
  <div>
    <canvas baseChart
    [colors]="chartColors3"
    [chartType]="'line'"
    [legend]="true"
    [datasets]="chartData3"
    [labels]="chartLabels"
    [options]="chartOptions"
    ></canvas>
  </div>

  <br/>
  <br/>
</ion-content>
