<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/task']"></ion-back-button>
    </ion-buttons>
    <ion-title >Counter</ion-title>
  </ion-toolbar>   
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container" *ngIf="taskNumber%2 == 0">
    <div class="count">

      
      <label >Cycle {{taskNumber/2+1}} / {{cycles}}</label><br>
      <label >Time to Work!</label>

      <div class="num"> 
        <round-progress
        [current]="360"
        [max]="360"
        [duration]='workTime*60*1000'
        [animation]="'easeOutSine'"
        [color]="'#860a0a'"
        ></round-progress>
      </div>
      <countdown #cd [config]="configWork" (event)="handleEvent($event)"></countdown>
      <div class="pomodoro1"></div>
     
      <label class="med font"><span style="color:black; font-size: 23px;">Next</span><br>Break {{taskNumber/2+1}}</label>
    </div>
  </div>

  <div class="containerb" *ngIf="taskNumber%2 == 1 && taskNumber%8!=7">
    <div class="count">
      <label>Enjoy your Break</label><br>
      
      <div class="numb"> 
        <round-progress
        [current]="360"
        [max]="360"
        [duration]='breakTime*60*1000'
        [animation]="'easeOutSine'"
        [color]="'#c54910'"
        ></round-progress>
        <countdown  #cd [config]="configBreak" (event)="handleEvent($event)"></countdown>
        
      </div>
     
      <div class="pomodoro1"></div>
      
      <label class="med fontb"><span style="color:black; font-size: 23px;">Next</span><br>Cycle {{taskNumber/2+1.5}}</label>
    </div>
  </div>


  <div class="containerc" *ngIf="taskNumber%8==7">
    <div class="count">
      <label >Enjoy your Long Break</label><br>
      
      <div class="numc"> 
        <round-progress
        [current]="360"
        [max]="360"
        [duration]='longBreakTime*60*1000'
        [animation]="'easeOutSine'"
        [color]="'#c0a403'"
    ></round-progress>
        <countdown #cd [config]="configLongBreak" (event)="handleEvent($event)"></countdown>
        
      </div>
     
      <div class="pomodoro1"></div>
      
      <label class="med fontb"><span style="color:black; font-size: 23px;">Next</span><br>Cycle {{taskNumber/2+1.5}}</label>
    </div>
  </div>

</ion-content>
