

  ion-content{
    
    width: 100%;
    height: 100%;
    text-align:Center;
    text-shadow: -0.1px 0 rgb(255, 255, 255);
    font-size: 30px;
    font-weight:bold;
  }

  #num {
    justify-content: center;
    position:relative;
    }

  round-progress{
      margin-right: auto;
      margin-left: auto;
      
   }  
