<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button [routerLink]="['/task']"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;" >Counter</ion-title>
  </ion-toolbar>   
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container" *ngIf="taskNumber%2 == 0">
    <div class="count">


      <ion-label>
        <br>
        <ion-label  style="font-size:30px;" >Cycle {{taskNumber/2+1}} / {{cycles}}</ion-label><br>
        <ion-label style="font-size:22px;">Time to Work!</ion-label>
      </ion-label>
      <br>
      <br>
      <div class="num"> 
        <round-progress
        [current]="360"
        [max]="360"
        [duration]='workTime*60*1000'
        [animation]="'easeOutSine'"
        [color]="'#860a0a'"
        ></round-progress>
      </div>
      <br>
      <countdown #cd  style="font-size:30px; font-weight:bold" [config]="configWork" (event)="handleEvent($event)"></countdown>
    <div class="pie">
        <label class="med font" style=" font-size: 18px;"><span >Next</span><br>Break {{taskNumber/2+1}}</label>
        
    </div>
    </div>
  </div>

  <div class="containerb" *ngIf="taskNumber%2 == 1 && taskNumber%8!=7">
    <div class="count">
      <br>
      <ion-label style="font-size:30px;">Enjoy your Break</ion-label><br>
      <br>
      <br>
      <div class="numb"> 
        <round-progress
        [current]="360"
        [max]="360"
        [duration]='breakTime*60*1000'
        [animation]="'easeOutSine'"
        [color]="'#c54910'"
        ></round-progress>
        <br>
        <countdown  #cd style="font-size:30px; font-weight:bold" [config]="configBreak" (event)="handleEvent($event)"></countdown>
        
      </div>    
      <label class="med fontb" style=" font-size: 18px;"><span>Next</span><br>Cycle {{taskNumber/2+1.5}}</label>
      
    </div>
  </div>


  <div class="containerc" *ngIf="taskNumber%8==7">
    <div class="count">
      <label style="font-size:30px;">Enjoy your Long Break</label><br>
      
      <div class="numc"> 
        <round-progress
        [current]="360"
        [max]="360"
        [duration]='longBreakTime*60*1000'
        [animation]="'easeOutSine'"
        [color]="'#c0a403'"
    ></round-progress>
        <countdown #cd style="font-size:30px; font-weight:bold" [config]="configLongBreak" (event)="handleEvent($event)"></countdown>
        
      </div>      
      <label class="med fontb" style=" font-size: 18px;"><span>Next</span><br>Cycle {{taskNumber/2+1.5}}</label>
      
    </div>
  </div>

<br>
  <img style="width:100px; height:auto;"src="https://www.gifsanimados.org/data/media/686/tomate-y-jitomate-imagen-animada-0019.gif"/>
</ion-content>
