<ion-header [translucent]="true">
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <br>
    <ion-list>

      <ion-item>
        <ion-avatar>
          <img src="/assets/img/pomodoro.png"/>
        </ion-avatar>
            <div >
              <ion-label>Work Time: {{workTime}} min</ion-label>
            </div>
          <ion-range min=".1" max="50" step="1"  color="danger" pin="true"value="25 " [(ngModel)]='workTime'></ion-range>
      </ion-item>

      <ion-item>
        <ion-avatar>
          <img src="/assets/img/yellowpomodoro.png"/>
        </ion-avatar>
        <div>
         <ion-label>Break Time: {{breakTime}} min</ion-label>
        </div>
        <ion-range min=".1" max="20" step="1" color="secondary" pin="true" value="5"  [(ngModel)]='breakTime'></ion-range>
      </ion-item>

      <ion-item>
        <ion-avatar>
          <img src="/assets/img/orange pomodoro.png"/>
        </ion-avatar>
        <div >
          <ion-label>Long Break Time: {{longBreakTime}} min</ion-label>
        </div>
        <ion-range min=".1" max="20" step="1" color="tertiary" pin="true" value="4" [(ngModel)]='longBreakTime' ></ion-range>
      </ion-item>


      <ion-item>
        <ion-avatar>
          <img src="/assets/img/greenpomodoro.png"/>
        </ion-avatar>
        <div>
          <ion-label>Number of cycles: {{cycles}} times</ion-label>
        </div>
        <ion-range min="1" max="10" step="1" color="success" pin="true" value="4" [(ngModel)]='cycles' ></ion-range>
      </ion-item>

    </ion-list>
    <br>
    <br>
      <ion-button expand="full" style="font-size: 30px; color:white;" (click)="sendData()">start</ion-button>
  </div>
</ion-content>

