#container {
  text-align: left;
 
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 30px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #2a2a2a;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#item{
  font-family:'Courier New', Courier, monospace;
  font-size:100px;
  
  
}

ion-card{
  color:black;
  font-weight:bold;
}
#image{
  height:100px; 
  width:100px;
  text-align: center;
}
p{
  font-size:40px;
  font-weight:bold;
}
