<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content id="content" [fullscreen]="true">


  <div id="container">
    
    <strong>What is the Pomodoro Technique?</strong>
    <div id="image">
      <img src="http://pngimg.com/uploads/tomato/tomato_PNG12599.png"/>
    </div>
    <p>
      The Pomodoro Technique was developed in the late 1980s by then university student 
      Francesco Cirillo. Cirillo was struggling to focus on his studies and complete assignments. 
      Feeling overwhelmed, he asked himself to commit to just 10 minutes of focused study time. 
      Encouraged by the challenge, he found a tomato (pomodoro in Italian) shaped kitchen timer, 
      and the Pomodoro technique was born.
    </p>

    <div class = "list">
      <ion-card><div class = "item"><ion-text color="danger"><strong>1 </strong></ion-text>Get a timer.</div></ion-card>
      <ion-card><div class = "item"><ion-text color="danger"><strong>2 </strong></ion-text>Set your timer for 25 minutes, and focus on a single task until the timer rings.</div></ion-card>
      <ion-card><div class = "item"><ion-text color="danger"><strong>3 </strong></ion-text>When your session ends, enjoy a five minute break.</div></ion-card>
      <ion-card><div class = "item"><ion-text color="danger"><strong>4 </strong></ion-text>After four pomodoros, take a longer, more restorative 15-30 minute break.</div></ion-card>
   </div>
  </div>
</ion-content>
